/*Color Palette---
#290001;
#87431d;
#c87941;
#dbcbbd;
Font Families---
font-family: 'Overpass', sans-serif;
font-family: 'Satisfy', cursive;
*/
body {
    background-color: #87431d;
}
/*Navigation*/
.img-brand {
    width: 50px;
}
.bg-dark {
    background-color: #290001!important;
}
.navbar-dark .navbar-brand {
    color: white;
    font-family: 'Overpass', sans-serif;
    font-size: 30px;
}
.navbar-dark .navbar-brand:hover {
    color: #dbcbbd;
}
a.nav-link {
    color: white!important;
    font-family: 'Overpass', sans-serif;
}
a.nav-link:hover {
    color: #dbcbbd!important;
}
/*Jumbotron*/
div.jumbotron.jumbotron-fluid {
    background-color: #c87941;
}
.img-jumbotron {
    width: 100px;
}
h1.display-4 {
    text-align: center;
    color: #dbcbbd;
    font-weight: bold;
}
p.lead {
    text-align: center;
    color: #dbcbbd;
    font-weight: bold;
}
/*Preface*/
.container-fluid {
    background-color: #dbcbbd;
    font-family: 'Satisfy', cursive;
}
h1.h1-chapter {
    text-align: center;
}
h2.h2-chapter {
    text-align: center;
    font-size: 30px;
}
p.preface {
    font-size: 20px;
    text-align: justify;
}
/*Land*/
img.img-jumbotron.mx-auto.d-block.img-eldia {
    width: 1000px;
    border: 5px solid #dbcbbd;
}
img.mx-auto.d-block.map {
    width: 1000px;
    border: 5px solid #87431d;
}
p.text {
    font-size: 30px;
}
.list1 {
    text-align: center;
    list-style: none;
    font-size: 30px;
}
.a-province {
    color: #87431d;
}
.a-province:hover {
    color: #c87941;
}
